<div id="experience" class="jumbotron jumbotron-fluid mb-0 bg-extra-light">
  <div class="container">
    <h1>Professional experience.</h1>
    <div class="row my-5">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="assets/vortal-logo.jpg">
            <mat-card-title>
              Full-stack Software Engineer — Vortal - Lisbon, Portugal
            </mat-card-title>
            <mat-card-subtitle>
              September 2018 - Present
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            • Developed a middleware application for e-procurement using .NET Core and
            design patterns such as IoC (dependency injection)<br />
            • Unit testing of all code pushed to production<br />
            • Integrated with the Journal of the European Union API to get contract notices
            published in the EU<br />
            • Created reusable Angular 2+ module and components for file uploading<br />
            • Release planning and management using SCRUM methodologies and Azure
            DevOps as management tool<br />
            • Implemented CI/CD in Azure Pipelines, which reduced by 30% the deployment
            time of the application<br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="assets/cgi-logo.jpg">
            <mat-card-title>
              Full-stack Software Developer — CGI - Lisbon, Portugal
            </mat-card-title>
            <mat-card-subtitle>
              August 2017 - August 2018
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            • Created AngularJS directives to prevent input mistakes in an user interface<br />
            • Structured reusable components for each independent feature<br />
            • Tested code weekly using Jasmine and MSTest and kept approx. 5100 auto
            mated unit tests with a code coverage above 90%<br />
            • Designed and implemented web services using WCF in order to send SOAP
            messages<br />
            • Defined a REST ASP.NET Web API to get and save user data<br />
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>