<div id="experience" class="jumbotron jumbotron-fluid bg-light mt-5">
  <div class="container">
    <h1>Professional experience<span class="main-color">.</span></h1>
    <div class="row my-5" *ngFor="let experience of experiences">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar [src]="experience.companyLogo">
            <mat-card-title>
              <p>{{ experience.position }}</p>
            </mat-card-title>
            <mat-card-subtitle>
              <p>{{ experience.periodDescription }}<p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p *ngFor="let achievement of experience.achievements">{{achievement}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>