@import '../../assets/variables.scss';

h1 {
  font-size: 5vw;
  color: $main-color;
}

h2 {
  font-size: 5vw;
  color: black;
}

.intro {
  height: 100vh;
  max-width: 100vw;
}

.circular {
  width: 17vw;
  border-radius: 50%;
}

.thats-me {
  width: 16vw;
}

@media (max-width: 768px) {
  h1 {
    font-size: 10vw;
  }

  h1 {
    font-size: 9vw;
  }

  .circular {
    width: 29vw;
  }
  
  .thats-me {
    width: 29vw;
  }
}
