<div class="jumbotron jumbotron-fluid mb-0 bg-extra-light">
  <div class="container intro px-5">
    <div class="row mt-5">
      <div class="col mt-5">
        <h1 class="font-weight-bold mb-0">Ricardo Reais.</h1>
        <h2 class="ml-5">Software engineer.</h2>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-6 text-right">
        <img class="circular" src="https://avatars1.githubusercontent.com/u/22318105?s=400&u=088b8ab2b85b4ea7865ee2ed81e01e197f0eb088&v=4" />
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-7 offset-md-6 offset-sm-5 col-3 offset-2 text-center">
        <img class="thats-me" src="assets/images/thats-me.png" />
      </div>
    </div>
  </div>
</div>