<!-- <div class="jumbotron jumbotron-fluid intro-jumbotron m-0">
  <div class="container">
  </div>
</div> -->
<div class="container intro ml-0">
  <div class="row pt-5">
    <div class="col pt-5">
      <h1 class="font-weight-bold text-left mb-0">Ricardo Reais.</h1>
      <h2 class="ml-5">Software engineer.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <img class="circular mr-5" src="https://avatars1.githubusercontent.com/u/22318105?s=400&u=088b8ab2b85b4ea7865ee2ed81e01e197f0eb088&v=4" />
    </div>
  </div>
</div>