@import '../../assets/variables.scss';
h1 {
  font-size: 5vw;
  color: $main-color;
}

h2 {
  font-size: 5vw;
  color: black;
}

.intro {
  background-size: cover;
  height: 100vh;
  max-width: 99vw;
  top: 0;
  left: 0;
}

.circular {
  width: 10vw;
  border-radius: 50%;
}

.thats-me {
    width: 50%;
}
