<app-header [isLandingPage]="isLandingPage"></app-header>
<div [@routeAnimations]="prepareRoute(outlet)" (@routeAnimations.start)="onAnimationEvent($event)" (@routeAnimations.done)="onAnimationEndEvent($event)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
<footer id="sticky-footer" class="py-1 bg-light text-dark-50" *ngIf="!isLandingPage && !animationOnGoing">
    <div class="text-center my-1">
        <small>Design by Ricardo Reais</small><br />
        <small>v{{ version }}</small>
    </div>
</footer>