<div id="about" class="jumbotron jumbotron-fluid mb-0 bg-light">
  <div class="container">
    <h1 class="display-4 text-left">About me.</h1>
    <p class="lead text-justify">
      software engineer with two years of professional experience developing. proficient with programming in C# and JavaScript, and adept with problem solving using computers
      ...by the way, I have a passion for design and minimalism.
    </p>
    <p class="lead text-justify">
      born in 96' in portugal, original from the coastal town of armação de pêra in the algarve district.
      since my early days, I've always liked computers and playing games, eventually my interest for games faded and the interest for programming appeared.
      nowadays I mainly enjoy music and skating.
    </p>
  </div>
</div>

<app-timeline></app-timeline>

<div id="education" class="jumbotron jumbotron-fluid mb-0 bg-light">
  <div class="container">
    <h1 class="display-4 text-left">Education.</h1>
    <p class="lead text-justify mb-0">
      BSc. in Informatics and Computing Engineering Sept 2014 - June 2017
    </p>
    <p class="lead text-justify">
      @Faculty of Sciences and Technology at University of Algarve, Portugal
    </p>
  </div>
</div>

<div id="skills" class="jumbotron jumbotron-fluid mb-0 bg-extra-light">
  <div class="container">
    <h1 class="display-4 text-left mb-3">My skills.</h1>
    <p class="text-left">JavaScript</p>
    <div class="progress mb-4">
      <div class="progress-bar w-85 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Good</div>
    </div>
    <p class="text-left">C#</p>
    <div class="progress mb-5">
      <div class="progress-bar w-85 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Good</div>
    </div>
    <p class="text-left">HTML5</p>
    <div class="progress mb-5">
      <div class="progress-bar w-85 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Good</div>
    </div>
    <p class="text-left">CSS3</p>
    <div class="progress mb-5">
      <div class="progress-bar w-65 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Competent</div>
    </div>
    <p class="text-left">T-SQL</p>
    <div class="progress mb-5">
      <div class="progress-bar w-55 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Modest</div>
    </div>
    <p class="text-left">Java</p>
    <div class="progress mb-5">
      <div class="progress-bar w-65 text-dark" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Competent</div>
    </div>
  </div>
</div>


<div id="projects" class="jumbotron jumbotron-fluid mb-0 bg-light">
  <div class="container">
    <h1 class="display-4 text-left">Projects.</h1>
    <p class="lead text-justify mb-0">
      My page is still incomplete, sorry :(
    </p>
    <p class="lead text-justify">
      I'm doing cool shit, I promise
    </p>
  </div>
</div>


<div id="contact" class="jumbotron jumbotron-fluid mb-0 bg-extra-light">
  <div class="container">
    <h1 class="display-4 text-left">Contact.</h1>
    <p class="lead text-justify mb-0">
      While I finish my page, just send me an email at ricardodtreais@gmail.com
    </p>
  </div>
</div>