<div id="about" class="jumbotron jumbotron-fluid bg-light mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <img src="assets/images/me.jpg" />
      </div>
      <div class="col-12 col-md-6">
        <h1 class="mb-4">About me<span class="main-color">.</span></h1>
        <p>
          software engineer with two years of professional experience developing. proficient with programming in C# and JavaScript, and adept with problem solving using
          computers ...by the way, I have a passion for design and minimalism.
        </p>
        <p>
          born in 96' in portugal, original from the coastal town of armação de pêra in the algarve district.
          since my early days, I've always liked computers and playing games, eventually my interest for games faded and the interest for programming appeared.
          nowadays I mainly enjoy music, skating and running.
        </p>
        <h1 class="mb-4">Education<span class="main-color">.</span></h1>
        <p class="mb-0">
          BSc. in Informatics and Computing Engineering Sept 2014 - June 2017
        </p>
        <p>
          @Faculty of Sciences and Technology at University of Algarve, Portugal
        </p>
      </div>
    </div>
  </div>
</div>
<app-skills></app-skills>