/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './src/assets/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  font-family: sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

.bg-main-color-opaque {
  background-color: #bba7c4bd;
}

.bg-extra-light {
  background-color: white;
}

.progress-bar {
  background-color: $main-color !important;
}

.main-color {
  color: $main-color;
}
