/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './src/assets/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.bg-extra-light {
  background-color: white;
}

.progress-bar {
  background-color: $main-color !important;
}
